@charset "UTF-8";
:root {
  --clr-pale-yellow: #f4d89f;
  --clr-bright-gold: #f7be4a;
  --clr-dark-gold: #d09e39;
  --clr-darker-gold: #e9a620;
  --clr-bright-red: #bd2828;
  --clr-dark-red: #621515;
  --clr-darker-red: #370c0c;
  --clr-dark-brown: #1c0606;
  --clr-darker-brown: #150404;
}

.gold-border, .flex-items, .blurb, .standard {
  border: 1px solid rgba(247, 190, 74, 0.1);
}

.title-shadow, .hero_cta a, .nav_title .text {
  filter: drop-shadow(1px 1px 1px rgba(28, 6, 6, 0.3)) drop-shadow(0px 0px 2px rgba(208, 158, 57, 0.8));
}

:root {
  --sans-font: "Poppins", Helvetica, sans-serif;
  --serif-font: "Brygada 1918", serif;
  --anicons: "Anicons Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  --text-ital: 0;
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  src: local("Poppins Regular"), url("../../fonts/Poppins/poppins-v15-latin-regular.woff2") format("woff2"), url("../../fonts/Poppins/poppins-v15-latin-regular.woff") format("woff");
  display: swap;
}
/* poppins-italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  src: local("Poppins Regular Italic"), url("../../fonts/Poppins/poppins-v15-latin-italic.woff2") format("woff2"), url("../../fonts/Poppins/poppins-v15-latin-italic.woff") format("woff");
  display: swap;
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  src: local("Poppins Medium"), url("../../fonts/Poppins/poppins-v15-latin-500.woff2") format("woff2"), url("../../fonts/Poppins/poppins-v15-latin-500.woff") format("woff");
  display: swap;
}
/* poppins-500italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  src: local("Poppins Medium Italic"), url("../../fonts/Poppins/poppins-v15-latin-500italic.woff2") format("woff2"), url("../../fonts/Poppins/poppins-v15-latin-500italic.woff") format("woff");
  display: swap;
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  src: local("Poppins Semi-bold"), url("../../fonts/Poppins/poppins-v15-latin-600.woff2") format("woff2"), url("../../fonts/Poppins/poppins-v15-latin-600.woff") format("woff");
  display: swap;
}
/* poppins-600italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  src: local("Poppins Semi-bold Italic"), url("../../fonts/Poppins/poppins-v15-latin-600italic.woff2") format("woff2"), url("../../fonts/Poppins/poppins-v15-latin-600italic.woff") format("woff");
  display: swap;
}
@font-face {
  font-family: "Brygada 1918";
  src: local("Brygada 1918 Bold Italic"), local("Brygada1918-BoldItalic"), url("../../fonts/Brygada 1918/Brygada1918-BoldItalic.woff2") format("woff2"), url("../../fonts/Brygada 1918/Brygada1918-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Brygada 1918";
  src: local("Brygada 1918 Bold"), local("Brygada1918-Bold"), url("../../fonts/Brygada 1918/Brygada1918-Bold.woff2") format("woff2"), url("../../fonts/Brygada 1918/Brygada1918-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Brygada 1918";
  src: local("Brygada 1918 Italic"), local("Brygada1918-Italic"), url("../../fonts/Brygada 1918/Brygada1918-Italic.woff2") format("woff2"), url("../../fonts/Brygada 1918/Brygada1918-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Brygada 1918";
  src: local("Brygada 1918 Medium"), local("Brygada1918-Medium"), url("../../fonts/Brygada 1918/Brygada1918-Medium.woff2") format("woff2"), url("../../fonts/Brygada 1918/Brygada1918-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Brygada 1918";
  src: local("Brygada 1918 SemiBold Italic"), local("Brygada1918-SemiBoldItalic"), url("../../fonts/Brygada 1918/Brygada1918-SemiBoldItalic.woff2") format("woff2"), url("../../fonts/Brygada 1918/Brygada1918-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Brygada 1918";
  src: local("Brygada 1918 Medium Italic"), local("Brygada1918-MediumItalic"), url("../../fonts/Brygada 1918/Brygada1918-MediumItalic.woff2") format("woff2"), url("../../fonts/Brygada 1918/Brygada1918-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Brygada 1918";
  src: local("Brygada 1918 Regular"), local("Brygada1918-Regular"), url("../../fonts/Brygada 1918/Brygada1918-Regular.woff2") format("woff2"), url("../../fonts/Brygada 1918/Brygada1918-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Brygada 1918";
  src: local("Brygada 1918 SemiBold"), local("Brygada1918-SemiBold"), url("../../fonts/Brygada 1918/Brygada1918-SemiBold.woff2") format("woff2"), url("../../fonts/Brygada 1918/Brygada1918-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
/* BRYGADA 1918 - VARIABLE FONTS */
@font-face {
  font-family: "Brygada 1918";
  font-style: normal;
  src: local("Brygada 1918") url("../../fonts/Brygada 1918/Brygada1918-VariableFont_wght.woff") format("woff"), url("../../fonts/Brygada 1918/Brygada1918-VariableFont_wght.woff2") format("woff2 supports variations");
  font-weight: 400 700;
  display: swap;
}
@font-face {
  font-family: "Brygada 1918";
  font-style: italic;
  src: local("Brygada 1918") url("../../fonts/Brygada 1918/Brygada1918-Italic-VariableFont_wght.woff") format("woff"), url("../../fonts/Brygada 1918/Brygada1918-Italic-VariableFont_wght.woff2") format("woff2 supports variations");
  font-weight: 400 700;
  display: swap;
}
@font-face {
  font-family: "Anicons Regular";
  src: url("../../fonts/AniconsGX.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
/* UTILITY CLASSES & EXTENDS */
.margin-auto {
  margin: 1rem auto;
}

.simple-padding {
  padding: 1.625rem;
}

.small, .hero_message, .standard {
  max-width: min(50rem, 100%);
}

.medium, .grid {
  max-width: min(60rem, 100%);
}

.large {
  max-width: min(70rem, 100%);
}

.flexbox, .gallery, .locations {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
  gap: 1rem;
  background-color: var(--clr-darker-brown);
}
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .flexbox, .gallery, .locations {
      margin: 1rem auto;
    }
  }
}
@media screen and (max-width: 37.5em) {
  .flexbox, .gallery, .locations {
    padding: 0;
  }
}

.twelve-column {
  grid-column: span 12;
}

.eleven-column {
  grid-column: span 11;
}

.ten-column {
  grid-column: span 10;
}

.nine-column {
  grid-column: span 9;
}

.eight-column {
  grid-column: span 8;
}

.seven-column {
  grid-column: span 7;
}

.six-column {
  grid-column: span 6;
}

.five-column {
  grid-column: span 5;
}

.four-column {
  grid-column: span 4;
}

.three-column {
  grid-column: span 3;
}

.two-column {
  grid-column: span 2;
}

.one-column {
  grid-column: span 1;
}

.preload-transitions * {
  transition: none !important;
}

/* CSS Document */
/*html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
} */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

body.js-stop-transition * {
  transition: none !important;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--sans-font);
  font-size: 1rem;
  font-variation-settings: "ital" var(--text-ital);
  background-color: var(--clr-darker-brown);
  color: var(--clr-pale-yellow);
}

b,
strong {
  font-weight: 600;
}

i,
em,
.italic {
  --text-ital: 1;
}

a {
  color: var(--clr-bright-red);
}
a:hover {
  color: var(--clr-bright-gold);
}

h1 {
  font-family: var(--serif-font);
  font-size: 3.5rem;
  letter-spacing: 0.015625rem;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  color: var(--clr-bright-gold);
}

h2 {
  display: inline-block;
  font-family: var(--serif-font);
  font-size: 1.8rem;
  font-weight: 650;
}

h3,
h4,
h5 {
  display: inline;
  font-weight: 500;
}

h6 {
  font-weight: 400;
}

p,
ul,
li {
  letter-spacing: 0.25px;
  line-height: 1.25;
}

ol,
ul {
  margin-left: 2rem;
  padding: 0;
}

header {
  max-width: 100%;
  padding: 1.5rem;
  background-color: var(--clr-dark-red);
}
@media (max-height: 600px) and (orientation: landscape) {
  header {
    padding: 0.75rem;
  }
}

picture {
  max-width: 100%;
}

picture img {
  width: 100%;
  height: min(20rem);
  object-fit: cover;
  display: block;
  filter: brightness(0.8);
}
@media (max-height: 500px) and (orientation: landscape) {
  picture img {
    height: min(10em, 100vh);
  }
}

main {
  display: block;
  background-color: var(--clr-dark-brown);
}

.standard {
  margin: 1rem auto;
  padding: 1.625rem;
}

.menu {
  margin: 0.625rem;
}
@media screen and (max-width: 900px) and (min-width: 768px) and (orientation: landscape) {
  .menu p,
.menu ul,
.menu ol {
    font-size: 70%;
  }
}

article {
  display: block;
  position: relative;
}
article h2 {
  color: var(--clr-bright-gold);
}

footer {
  max-width: 100%;
  text-align: center;
  position: relative;
  display: block;
  padding-bottom: none;
  background-color: var(--clr-dark-brown);
  border-top: 1px solid rgba(247, 190, 74, 0.1);
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
}
footer .container > section {
  box-sizing: border-box;
  max-width: 16rem;
  padding: 0.5rem 1rem;
  margin: 0;
  height: 100%;
  flex: 1 1 calc((42.6875rem - 100%) * 999);
  align-self: flex-start;
}
footer .container .footer_links a {
  display: block;
  line-height: 1;
  font-weight: 500;
  padding: 0.25rem;
  text-decoration: none;
  color: var(--clr-bright-gold);
}
footer .container .footer_links a:hover, footer .container .footer_links a:focus {
  color: var(--clr-bright-red);
  text-decoration: underline;
  outline: none;
}
footer h2 {
  display: block;
  font-size: 1.5rem;
  font-weight: 550;
}
footer .fab {
  font-size: 200%;
  padding: 0.25rem 0.5rem 0;
}

/* CSS Document */
nav {
  display: flex;
  justify-content: center;
  max-width: min(100%);
  position: relative;
  top: 0;
  z-index: 99;
  background: #1c0606;
  border-bottom: 1px solid rgba(247, 190, 74, 0.1);
}
@media screen and (max-width: 600px) {
  nav {
    justify-content: flex-end;
    text-align: right;
  }
}
@media screen and (max-width: 600px) {
  nav {
    position: sticky;
  }
}
nav a {
  outline: none;
}

.nav_title {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: inherit;
  position: relative;
  padding: 0.5rem 2rem;
  box-sizing: border-box;
  justify-content: center;
  align-self: center;
  background-color: var(--clr-darker-red);
}
.nav_title .text {
  font-family: var(--serif-font);
  width: auto;
  font-style: italic;
  font-size: 4rem;
  letter-spacing: -2.5px;
  line-height: 90%;
  text-align: center;
  font-weight: 550;
  color: var(--clr-bright-gold);
}
@media screen and (max-width: 600px) {
  .nav_title .text {
    font-size: 1.875rem;
    margin-top: 0.875rem;
  }
}
@media screen and (max-width: 900px) {
  .nav_title .text {
    font-size: 3rem;
  }
}
.nav_title a {
  text-decoration: none;
  display: flex;
  align-self: center;
  outline: none;
}
@media screen and (max-width: 600px) {
  .nav_title {
    justify-content: center;
    display: none;
  }
}

.nav_cont {
  width: min(65rem, 100%);
  padding: 1.5em 2rem;
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  z-index: 1;
  box-sizing: border-box;
  background: var(--clr-darker-brown);
  border-left: 1px solid rgba(247, 190, 74, 0.1);
  border-right: 1px solid rgba(247, 190, 74, 0.1);
}
@media screen and (min-width: 601px) {
  .nav_cont {
    padding: 0;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .nav_cont > .nav_links {
    display: flex;
    width: inherit;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 600px) {
  .nav_cont {
    flex-direction: column;
    height: 4.5em;
    padding: 0;
  }
}
.nav_cont .nav_links a {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin: 0 0.25em;
  padding: 0.5rem 0;
  display: flex;
  color: var(--clr-darker-gold);
  outline: none;
  transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.nav_cont .nav_links a:focus, .nav_cont .nav_links a:hover {
  transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  color: var(--clr-bright-red);
}
@media screen and (max-width: 600px) {
  .nav_cont .nav_links a {
    border-top: 1px solid rgba(247, 190, 74, 0.1);
    padding: 0.625rem;
    margin: 0;
    font-size: 1.625rem;
    letter-spacing: 0.5px;
    justify-content: flex-end;
    box-sizing: border-box;
  }
  .nav_cont .nav_links a:first-child {
    border: none;
  }
}
@media screen and (min-width: 600px) {
  .nav_cont .nav_links a {
    font-size: 1.625rem;
  }
}
@media screen and (min-width: 768px) {
  .nav_cont .nav_links a {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 900px) {
  .nav_cont .nav_links a {
    font-size: 1.875rem;
  }
}
@media screen and (min-width: 1200px) {
  .nav_cont .nav_links a {
    font-size: 2rem;
  }
}

.nav_logo {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-shrink: 1;
  z-index: 99;
  align-self: flex-start;
  background: var(--clr-darker-brown);
}
@media screen and (min-width: 600px) {
  .nav_logo {
    justify-content: center;
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .nav_logo > div {
    display: flex;
    align-self: center;
  }
}
.nav_logo img {
  display: flex;
  width: 0rem;
  display: none;
  align-self: flex-start;
}
@media screen and (max-width: 600px) {
  .nav_logo img {
    width: 3.5rem;
    display: flex;
    margin: 0.5rem 0 0.5rem 0.5rem;
    align-self: flex-start;
  }
}

@media screen and (max-width: 600px) {
  .nav_links {
    display: flex;
    width: calc(100vw - 3px);
    flex-direction: column;
    position: relative;
    transform: translateY(-230%);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: var(--clr-darker-brown);
    border: 1px solid rgba(247, 190, 74, 0.1);
  }

  .show {
    transform: translateY(0%);
  }
}
.navicon {
  font-family: var(--anicons);
  font-size: 3.25rem;
  font-variation-settings: "TIME" 1;
  transition: font-variation-settings 0.4s ease;
  position: absolute;
  top: 0rem;
  right: 0rem;
  margin: 0.5rem;
  display: flex;
  outline: none;
  cursor: pointer;
  color: var(--clr-darker-gold);
  transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media screen and (min-width: 601px) {
  .navicon {
    display: none;
  }
}

.navi_show {
  font-variation-settings: "TIME" 100;
  color: var(--clr-bright-red);
}

/* CSS Document */
.hero {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_message {
  position: absolute;
  z-index: 2;
  margin: 0 0.5rem;
  background: rgba(28, 6, 6, 0);
}
.hero_title {
  letter-spacing: 0.5px;
  font-size: 5rem;
  line-height: 90%;
  padding: 0.5rem 0 1rem;
  filter: drop-shadow(1px 1px 1px rgba(28, 6, 6, 0.8));
}
@media screen and (max-width: 30rem) {
  .hero_title {
    font-size: 3.3rem;
  }
}
.hero_text {
  padding: 0rem 0rem;
  width: min(40ch, 100%);
  font-size: 125%;
  margin: auto;
  text-align: center;
  filter: drop-shadow(1px 1px 0px rgba(21, 4, 4, 0.9)) drop-shadow(0px 0px 2px rgba(208, 158, 57, 0.25));
}

.hero_cta a {
  position: relative;
  display: block;
  margin: 0.25rem auto;
  text-align: center;
  padding: 0.5em 0;
  line-height: 0.5rem;
  width: min(20rem, 80%);
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  color: var(--clr-bright-gold);
  transition-property: color;
  transition: 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.hero_cta a::after {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  display: inline-block;
  margin-left: 0.5rem;
}
.hero_cta a:hover, .hero_cta a:focus {
  transition-property: color;
  transition: 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  outline: none;
  color: var(--clr-bright-red);
  filter: drop-shadow(1px 1px 1px rgba(21, 4, 4, 0.3)) drop-shadow(0px 0px 2px rgba(98, 21, 21, 0.8));
}
@media screen and (max-width: 30rem) {
  .hero_cta a {
    font-size: 2rem;
  }
}

.hero img {
  width: 100%;
  height: 100vh;
  position: relative;
  display: block;
  z-index: 1;
  object-fit: cover;
}

.blurb {
  /*max-width: min(50rem, 100%);*/
  max-height: 100%;
  padding: 1.625rem;
  background-color: var(--clr-dark-brown);
}
.blurb h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.blurb p {
  text-align: center;
}

.grid {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  padding: 0 1rem;
  background-color: var(--clr-darker-brown);
}
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    @media screen and (max-height: 30rem) and (orientation: landscape) {
      .grid {
        padding: 0 3rem;
      }
    }
  }
}
.grid article {
  display: grid;
  align-items: stretch;
  align-content: flex-start;
  justify-items: stretch;
}

.item_whole {
  grid-column: span 12;
}

.item_half {
  grid-column: span 6;
}
@media (max-width: 768px) {
  .item_half {
    grid-column: span 12;
  }
}

.item_two-third {
  grid-column: span 8;
}
@media (max-width: 768px) {
  .item_two-third {
    grid-column: span 12;
  }
}

.two-third2 {
  grid-column: span 7;
}
@media (max-width: 768px) {
  .two-third2 {
    grid-column: span 12;
  }
}

.one-third2 {
  grid-column: span 5;
}
@media (max-width: 768px) {
  .one-third2 {
    grid-column: span 12;
  }
}

.item_one-third {
  grid-column: span 4;
}
@media (max-width: 768px) {
  .item_one-third {
    grid-column: span 6;
  }
}
@media (max-width: 600px) {
  .item_one-third {
    grid-column: span 12;
  }
}

/* CSS Document */
.locations {
  justify-content: center;
}

.flex-items {
  display: flex;
  min-width: 18.75rem;
  flex: 0.5 1 calc((42.6875rem - 100%) * 999);
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
  background-color: var(--clr-dark-brown);
}
.flex-items h2 {
  margin-bottom: 0.625em;
  border-bottom: 1px solid var(--clr-pale-yellow);
}
.flex-items span {
  font-size: 120%;
  font-weight: 600;
}
.flex-items .icon::after {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 150%;
}
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .flex-items {
      margin: 0.5rem;
    }
  }
}
@media screen and (max-width: 37.5em) {
  .flex-items {
    margin: 0.5rem 0;
  }
}

/* CSS Document */
.bigger-h3 {
  font-size: 140%;
  font-weight: 600;
}

.form {
  display: block;
  background-color: var(--clr-dark-brown);
}

form {
  margin: auto;
}

.contact {
  display: block;
}
.contact:not(:first-of-type) {
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  .contact:not(:first-of-type) {
    margin: 1rem 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  .contact {
    margin: 0;
  }
}

.margin-left {
  margin-left: 0rem;
}

.form_label {
  font-family: var(--serif-font);
  font-size: 1.8rem;
  font-weight: 500;
}
.form input[type=text],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--clr-darker-brown);
  color: var(--clr-pale-yellow);
  border: 1px solid rgba(208, 158, 57, 0.5);
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  font-size: 95%;
  transition: 0.3s ease-in-out;
}
.form input[type=text]:focus,
.form select:focus,
.form textarea:focus {
  background-color: var(--clr-dark-red);
  border: 1px solid var(--clr-bright-gold);
  outline: none;
  transition: 0.3s ease-in-out;
}
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .form input[type=text],
.form select,
.form textarea {
      border-radius: 0.25rem;
    }
  }
}
.form input[type=text]:-moz-ui-invalid,
.form select:-moz-ui-invalid,
.form textarea:-moz-ui-invalid {
  box-shadow: none;
}
.form .select {
  width: 100%;
  display: flex;
  align-items: center;
}
.form .select #location {
  flex: 1 1 100%;
}
.form .select .icon::after {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  display: inline-block;
  margin-left: -1.25rem;
  font-size: 0.8rem;
  color: var(--clr-pale-yellow);
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
}
.form fieldset {
  margin: 0;
  padding: 0.635rem 0 0;
  outline: none;
  border: none;
}
.form fieldset input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  border: 1px solid var(--clr-bright-gold);
}
.form fieldset input[type=radio]:focus, .form fieldset input[type=radio]:active, .form fieldset input[type=radio]:checked {
  outline: none;
  background-color: var(--clr-bright-gold);
}
.form fieldset h4 {
  font-size: 120%;
}
.form .radio > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form textarea {
  font-size: 100%;
  font-family: var(--sans-font);
}
.form input[type=submit] {
  padding: 0.625rem;
  display: block;
  margin: 1em auto 0;
  width: 10em;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  color: var(--clr-dark-red);
  background-color: var(--clr-pale-yellow);
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.form input[type=submit]:hover, .form input[type=submit]:focus {
  color: var(--clr-darker-brown);
  background-color: var(--clr-bright-gold);
  transition: 0.5s ease-in-out;
}

::placeholder {
  color: var(--clr-pale-yellow);
}

/* CSS Document */
.gallery {
  justify-content: center;
}
.gallery a {
  text-decoration: none;
}
.gallery a:focus {
  outline: 1px solid var(--clr-bright-red);
}
.gallery img {
  width: 100%;
  height: 100%;
}

.imgs {
  display: flex;
  min-width: 16.625rem;
  height: 12.5rem;
  flex: 0.5 1 calc((41rem - 100%) * 999);
  object-fit: cover;
  padding: 0.5rem;
  background-color: var(--clr-dark-brown);
  border: 1px solid rgba(98, 21, 21, 0.8);
  filter: saturate(60%) drop-shadow(0px 0px 3px rgba(189, 40, 40, 0.3));
  transition: 300ms ease-in-out;
}
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .imgs {
      margin: 0.5rem;
    }
  }
}
@media screen and (max-width: 37.5em) {
  .imgs {
    filter: saturate(100%) drop-shadow(0px 0px 3px rgba(189, 40, 40, 0.3));
  }
}
.imgs:hover, .imgs:focus {
  border: 1px solid var(--clr-dark-red);
  outline: none;
  filter: saturate(100%) drop-shadow(0px 0px 3px rgba(189, 40, 40, 0.3));
  transform: scale(1.03);
  transition: 300ms ease-in-out;
}
@media (prefers-reduced-motion) {
  .imgs:hover, .imgs:focus {
    transform: none;
  }
}
.imgs h2 {
  display: block;
  margin: auto;
  text-align: center;
  position: absolute;
  object-fit: cover;
  outline: none;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: -0.15rem;
  font-style: italic;
  color: var(--clr-bright-gold);
  -webkit-text-stroke: 1px rgba(28, 6, 6, 0.08);
  filter: drop-shadow(1px 1px 2px rgba(21, 4, 4, 0.4));
}

/* CSS Document */