@charset "UTF-8";
/* CSS Document */

// BASE STYLES
@use 'base/__colors' as *;
@use 'base/__fonts' as *;
@use 'base/__mixins' as *;

.gallery {
  @extend .flexbox;
  justify-content: center;

  a {
    text-decoration: none;

    &:focus {
      outline: 1px solid var(--clr-bright-red);
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.imgs {
  display: flex;
  min-width: 16.625rem;
  height: 12.5rem;
  flex: 0.5 1 calc((41rem - 100%) * 999);
  object-fit: cover;
  padding: 0.5rem;
  //
  background-color: var(--clr-dark-brown);
  border: 1px solid rgba($dark-red, 0.8);
  filter: saturate(60%) drop-shadow(0px 0px 3px rgba($bright-red, 0.3));
  //
  transition: 300ms ease-in-out;

  @include safari {
    margin: 0.5rem;
    //filter: saturate(100%);
  }

  @include mq-breakpoint(37.5em) {
    filter: saturate(100%) drop-shadow(0px 0px 3px rgba($bright-red, 0.3));
  }

  &:hover,
  &:focus {
    border: 1px solid var(--clr-dark-red);
    outline: none;
    //
    filter: saturate(100%) drop-shadow(0px 0px 3px rgba($bright-red, 0.3));
    transform: scale(1.03);
    //
    transition: 300ms ease-in-out;

    @media (prefers-reduced-motion) {
      transform: none;
    }
  }

  h2 {
    display: block;
    margin: auto;
    text-align: center;
    position: absolute;
    object-fit: cover;
    //
    outline: none;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: -0.15rem;
    font-style: italic;
    //
    color: var(--clr-bright-gold);
    -webkit-text-stroke: 1px rgba($dark-brown, 0.08);
    filter: drop-shadow(1px 1px 2px rgba($darker-brown, 0.4));
  }
}
